<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | DataGenie</title>
  <link rel="stylesheet" href="\static\css\Home.css" />
</head>
<body>
  <!-- Header -->
  <header class="hdr">
    <div class="logo">DataGenie</div>
    <nav class="nav">
      <a href="\templates\Dash.html" class="lnk">Dashboard</a>
      <a href="\templates\Login.html" class="lnk">Login</a>
      <a href="\templates\Sign.html" class="lnk">Signup</a>
    </nav>
  </header>

  <!-- Main Section -->
  <section class="main">
    <div class="main-box">
      <h1 class="title">Welcome to DataGenie</h1>
      <p class="txt">Your simple and user friendly dashboard solution for organizing and handling the Databases.</p>
      <a href="\templates\Dash.html" class="btn" id="getStarted">Get Started</a>
    </div>
  </section>

  <!-- Footer -->
  <footer class="ftr">
    <p class="ftr-txt">&copy; 2025 DataGenie. All rights reserved to DataGenie.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>
